.indexButton {

    cursor: pointer;
    width: 20%;
    display: block;
    border: none;
}
.nameInputText {
    text-transform:capitalize;
}
ul {
    list-style-type: none;
}
.left_margin {
    margin-left: 4em;
}