<div class="thiscontainer" ng-controller="d3Controller as d3C">
    <charts></charts>
    <!-- <img id=gold src="assets/images/phylogenetic/goldbars.png"> -->
    <img id=photo src="assets/images/phylogenetic/backgroundimage.png">
    <div id="tree"></div>
    <div class="heading_white">Amino Acid Mutation Frequency</div>
    <div class = "bigbar">
      <p class="header2">Amino Acid Mutation Frequency<p>
    <div id="bar"></div>
    </div>
    <img class="dots" src="assets/images/phylogenetic/3.png">
</div>
