<img class="sidedots" src="assets/images/synthesis/doctscalculation.png">
<div class="synthesis_container">test
    <div class="synthesis_content">
        <h3>Modern Evolution Synthesis</h3>
        <div id="synthesis_equation">
            <textarea cols="1" rows="1" class="synthesis_equation_input" id="synthesis_equation_input1">N</textarea>
            <textarea cols="1" rows="1" class="synthesis_equation_input" id="synthesis_equation_input2">S</textarea>
        </div>
        <button class="synthesis_button" ng-click="calculate()"></button>

        <div id="content_bottom" ng-if="!buttonPressed">
            <h3 class="heading_white">MUTANT GENE FIXATION</h3>
            <h5 class="subheading_var">N = Population of Breeding Diploid Organisms.</h5>
            <h5 class="subheading_var">S = Selective Advantage of Allele.</h5>
        </div>
        <div id="content_bottom" ng-if="buttonPressed">
            <h3 class="heading_white">YOU PRESSED A BUTTON</h3>
            <h5 class="subheading_var">Show results.</h5>
            <h5 class="subheading_var">Show some more.</h5>
        </div>

    </div>
</div>